<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background-color:url("ss.png");
        }
    </style>
</head>
<body>
    <style>
        .center-text {
            width: 400px;
            height: 120px;
            font-size: 50px;
            line-height: 190px;
            text-align: center;
            color: chartreuse;
          }

    </style>

    
    <form  method="POST">
    
   
        <div style="position:relative;left:552px;top:200px">
            <ul>
            <div class="center-text"><b>ADD NEWBIKE</b></div>
            <li><font size="5" color="red"><b>Model:</b></font><input type="text" size="34" placeholder="e.g:honda" name="model"></li>
            <li><font size="5" color="red"><b>Daily fee:</b></font><input type="number" size="30" placeholder="e.g:1000000" name="dailyfee"></li>
            <li><font size="5" color="red"><b>Image:</b></font><input type="text" size="34" placeholder="e.g:https://images4.alphacoders.com/167/thumb-1920-167128.jpg" name="image"></li>
            <li><font size="5" color="red"><b>Year:</b></font><input type="number" size="37" placeholder="e.g:2000" name="year"></li>
            <button>Submit</button>
            </ul> 
            
        </div>
            
    </form>
    <img src="https://images4.alphacoders.com/167/thumb-1920-167128.jpg" width="1000px" height="auto" >

</body>
</html>